# 실습 3

In [ ]:
me = ["김디랩", 15, "경기도 판교", "대디중학교"]
print(me)
me = ["김디랩", 16, "경기도 판교", "대디중학교"]
print(me)

## 중간 미션

In [ ]:
"""
1) 수학, 영어점수를 각각 수정하세요. (수학: 90.0점, 영어: 80.5점)
2) 출력예시에 맞게 출력하세요.: “최종 점수 : [95.5, 90.0, 80.5, 80.0]”

추가) 네 과목의 평균을 구하세요.
"""

score = [95.5, 88.0, 82.6, 80.0]
print(f"최종 점수 : {score}")
score[1:3] = [90.0, 80.5]
avg = sum(score) / len(score)
print(avg)

## 중간미션 2

In [ ]:
score: list[list] = [
    [1, 1, 1, 1],
    [2, 2, 22, 2],
    [3, 3, 3, 3],
]  # [[]]

In [ ]:

a = [1, 1, 1, 1]
b = [2, 2, 22, 2]
c = [3, 3, 3, 3]
score = [a, b, c]
len(score)

In [ ]:
score[1][2] == b[2]

In [ ]:
list

# 마무리미션

In [ ]:
"""
1) stiker에 넛과 하이드를 추가하세요.
2) 같은 이름의 스티커는 리스트로 묶어주세요.
3) 스티커 종류의 수를 출력하세요.
"""

sticker:list = ["디콘", "샤이", "샤이", "엘"]

1. "+"
2. insert

In [ ]:
sticker: list = ["디콘", "샤이", "샤이", "엘"]

sticker = sticker + ["넛", '하이드']
sticker

In [ ]:
sticker: list = ["디콘", "샤이", "샤이", "엘"]
sticker.insert(4, '넛')
sticker.insert(5, '하이드')
print(sticker)

In [ ]:
sticker: list = ["디콘", "샤이", "샤이", "엘"]
sticker.insert(4, ["하이드", "넛"])
len(sticker)

# Mission 1

# Mission 2

디콘이와 친구들의 키가 오름차순으로 입력 되어 있는 리스트가 있습니다.
1. 잘못 입력 되어 있는 3번 4번 친구의 데이터를 변경하세요.
1. 전체 학생의 키 평균을 구하세요.
1. 키가 가장 큰 친구와 키가 가장 작은 친구의 차이를 구하세요.
1. 한명의 친구가 추가되 었습니다. 알맞은 위치에 추가하세요. (키: 164)

### Hint
🔵 아래의 리스트 함수를 참고하세요.
```python
len()
sum()
append()
insert()
remove()
```

### 출력예시
```python
# 1
[154.5, 157.5, 161, 163.5, 168, 170.5]
# 2
162.5
# 3
16.0
# 4
[154.5, 157.5, 161, 163.5, 164, 168, 170.5]
```

In [ ]:
height = [154.5, 157.5, 159, 161.5, 168, 170.5]
height[2:4] = [161, 163.5]
height

In [ ]:
sum(height) / len(height)

In [ ]:
max(height) - min(height)

In [ ]:
height.insert(4, 164)
height